.about-slider {
    border: 1px solid black;

}

.about-slider {
    border: 1px solid black;
    width: 100%;
    height: 270px;
    background-image: url(../assets/about-slider.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

.about-slider {
    color: white;
    text-align: center;
}

.about-slider h1 {
    margin-top: 30px;
}

.about-slider p {
    width: 60%;
    margin: 15px auto;
}

/* ------ About Slider Section 2 -------- */

.about-section-2 {
    text-align: center;
}

.about-section-2-container p:first-of-type {
  font-size: 18px;
  font-weight: 600;
}

.about-section-2-container p:nth-of-type(2) {
  font-size: 1rem;
}

.about-section-2-container {
    width: 60%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* ------- about feature section -------- */

.bullet {
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-feature-content h1{
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-feature-content p{
    font-size: 1rem;
    margin-bottom: 10px;
}

.about-item-header {
    font-weight: 700;
    margin-bottom: 10px;
}

.about-feature-item-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-feature-item {
    gap: 10px;
}

.about-feature-section-1 {
    background-color: #F9F9F9;
    padding-block: 40px;
}

.about-feature-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-feature-content {
    width: 40%;
}

.about-feature-img-container {
    min-width: 350px;
}

.about-feature-img-container img {
    width: 100%;
    height: 400px;
}

/* --------- Commitment Section ---------- */

.commitment-section {
    background-image: url(../assets/commitment-img.png);
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    padding-block: 70px;
}

.commitment-section::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.20);
}

.commitment-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    z-index: 2;
    position: relative;
}

/* ---------------- Why Choose Sreatt ---------------- */

.whychoosesreatt {

}

.whychoosesreatt-container {
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 35px;
    margin-bottom: 60px;
}

.whychoosesreattcard {
    width: 350px;
    gap: 15px;
    align-items: flex-start;
}

.whychoosesreattcardconent {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.whychoosesreattcardconent p {
    font-size: 16px;
}

.whychoosesreattcard img{
    width: 40px;
}

.whychoosesreatt-heading {
    margin-bottom: 30px;
    margin-top: 60px;
}