/* Hero Section */

.hero-image {
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
    width: 450px;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.hero-container {
    position: relative;
}

.hero-buttons {
    gap: 10px;
}

.hero-content p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.hero-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
}

/* brand-promise-section */

.brand-promise-section {
    padding: 50px var(--padding-inline-section) 50px;
}

.brand-promise-text {
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.para-1 {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.para-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.promise-card-container {
    padding: 50px var(--padding-inline-section) 0;
    gap: 20px;
    justify-content: center;
}

.promise-card {
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promise-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-description {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: #777777;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
}

/* feature section */

.feature-section {
    align-items: center;
    padding: 50px 100px 50px;
    background-color: #f8fafb;
    background: linear-gradient(90deg,
            #ffffff 0%,
            #f8fbfa 40%,
            #eef6f4 70%,
            #e8f2ee 100%);
            justify-content: space-between;
}

.feature-item {
    padding: 12px;
    width: fit-content;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #eaeaea;
    gap: 10px;
}

.feature-section .content-left {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    max-width: 60%;
}

.fa-check {
    background-color: #F9F8F1;
    border-radius: 50%;
    padding: 6px;
    margin-right: 10px;
}

.feature-heading {
    font-size: 1.8rem;
}

.content-desc {
    width: 90%;
    color: #777777;
    font-size: 18px;
}

.content-right img {
    width: 100%;
}

.content-right {
    width: 30%;
}

#feature-section-2 {
    flex-direction: row-reverse;
}

/* companies section */

.companies-section {
    background-color: #FAFBFA;
    padding: 50px 100px;
}

.companies-header {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.logos {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo {
    height: 58px;
    background-color: #ffffff;
}

/* technology section */

.technology-section {
    background-color: black;
    color: #fff;
    padding-top: 50px;
}

.technology-section-text {
    width: 40%;
    text-align: center;
    margin: auto;
}

.technology-section-text h1 {
    font-size: 40px;
}

.technology-section-text p {
    font-size: 1.2rem;
    color: #AAAAAA;
}

.card {
    width: 300px;
    border: 1px solid #777777;
    border-radius: 10px;
    padding: 22px;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.card:hover {
    background-color: #252216;
    border: 1px solid #FAC51F;
}

.card h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.card p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    color: #777777;
}

.card img {
    padding: 10px;
    border-radius: 50%;
    background-color: #443817;
    margin-bottom: 15px;
}

.technology-section-cards {
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    padding: 80px 80px;
}

/* hero 2 section */

.hero {
    gap: 20px;
    justify-content: space-between;
    padding: 70px 100px;
}

.hero-left {
    /* border: 1px solid red; */
    padding: 20px;
}

.hero-right {
    /* border: 1px solid red; */
}

.hero-right img {
    width: 100%;
    /* border: 1px solid red; */
}

.hero-left-heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-left-desc {
    font-size: 18px;
    width: 80%;
    margin-bottom: 10px;
    color: #777777;
    margin-bottom: 40px;
}

.hero-left span {
    font-weight: 600;
}

.btns {
    gap: 10px;
    margin-top: 20px;
}


/* location section */

.location-section {
    padding-bottom: 50px;
}

.location-search {
    width: 700px;
    background: #f5f5f5;
}

.search-input {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.search-input input {
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 16px;
    width: 600px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    padding-left: 55px;
}

.search-btn {
    background-color: #F8C419;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #171203 !important;
    padding: 8px 15px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    position: absolute;
    right: 110px;
    border: none;
}

.fa-magnifying-glass {
    font-size: 22px;
    position: absolute;
    left: 120px;
    color: #A0A0A0;
}

.location-text-content {
    text-align: center;
    margin-bottom: 35px;
}

.search-input input::placeholder {
    color: #999;
    font-size: 16px;
    font-weight: 400;
}

.location-text-subheading {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.map-image {
    width: 1000px;
}

.location-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
}