* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalog {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  margin-top: 20px;
}

/* --------------- Product Card CSS ------------------*/

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); */
  gap: 10px;
}

.product-card {
  border: 1px solid #eee;
  /* padding: 15px; */
  border-radius: 8px;
  background: #fff;
}

.product-card img {
  width: 100%;
  /* height: 180px; */
  height: 100%;
  /* object-fit: contain; */
}

.btn {
  background: #f7b500;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.product-img-container {
  height: 250px;
}

.product-content-container {
  background-color: #f9f9f9;
  padding: 15px;
}

.descritpion-1 {
  font-size: 14px;
  color: #7A7A7A;
  line-height: 1.4;
  font-family: 'Poppins', sans-serif;
}


.title {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
}

.price {
  font-size: 20px;
  margin-top: 12px;
  color: #141414;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.meta span {
  color: #7A7A7A;
  font-weight: 700;
  font-size: 14px;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 90%;
}

.meta-value {
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}

.meta-box-1 {
  display: flex;
  flex-direction: column;
}

/* REMOVE DEFAULT MARGINS */
.meta-box-1 p,
.meta-box-1 span {
  margin: 0;
  padding: 0;
}

.product-big-title {
  text-align: center;
}

/* --------------- Filter CSS ------------------*/

.filter-icons {
    margin-top: 12px;
    position: relative;
    right: 5px;
}


/* --------------- Pagination CSS ------------------*/

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.page-btn,
.nav-btn {
  min-width: 38px;
  height: 38px;
  padding: 0 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.page-btn:hover,
.nav-btn:hover {
  border-color: #000;
}

.page-btn.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.nav-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* mobile friendly adjustments */

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
  }

  .catalog {
    grid-template-columns: 1fr;
  }
}

.product-card {
  width: 100%;
}