/* ProductDetail.css */

.product-details-container {
  display: flex;
  gap: 50px;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* ================= IMAGE SECTION ================= */

.product-image-section {
  width: 45%;
}

.product-image-section img {
  width: 100%;
  max-height: 420px;
  object-fit: contain;
  border: 1px solid #e5e5e5;
  /* padding: 20px; */
  border-radius: 10px;
  background-color: #fafafa;
}

.thumbnail-images {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.thumbnail-images img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border: 1px solid #ddd;
  /* padding: 6px; */
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
}

.thumbnail-images img:hover {
  border-color: #f5b400;
  transform: scale(1.05);
}

/* ================= INFO SECTION ================= */

.product-info-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ratings {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.ratings-icons-container {
    display: flex;
    gap: 2px;
}

.product-info-content {
  margin-bottom: 10px;
}

.product-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
}

.product-description {
  font-size: 15px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

.product-price {
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

/* ================= META INFO ================= */

.product-addtional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 25px 0;
}

.meta-box {
  border: 1px solid #E0E2E7;
  padding: 4px 15px;
  border-radius: 8px;
}

.meta-box span {
  font-size: 13px;
  color: #777;
}

.meta-value {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  color: #222;
  font-family: 'Poppins', sans-serif;
}

/* ================= BUTTON ================= */

.find-dealer-btn {
  width: 100%;
  background-color: #f5b400;
  color: #000;
  border: none;
  padding: 14px 30px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.find-dealer-btn:hover {
  background-color: #e2a800;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {
  .product-details-container {
    flex-direction: column;
    padding: 30px;
  }

  .product-image-section,
  .product-info-section {
    width: 100%;
  }

  .product-addtional-info {
    grid-template-columns: 1fr;
  }
}