.footer {
    padding-block: 80px;
    background-color: black;
    color: white;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.link-column a {
    color: white;
    font-size: 14px;
}

.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.link-column i {
    margin-right: 20px;
}

.footer-bar {
    height: 2px;
    background-color: #333;
    margin-top: 30px;
}

.footer-caption {
    font-size: 14px;
}

.footer-bar {
    width: 100%;
}

.horizontal-container {
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

/* -------- Media Query for Footer.css --------  */

@media screen and (max-width: 991px) {

    .footer {
        padding-block: 40px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;

    }

    .link-column {
        align-items: stretch;
    }

    .horizontal-container {
        align-items: center;
    }
}